.set-all-components-to-display-none-and-use-this-div-to-create-a-symbol {
  display: block;
}

.fs-cc-banner2_component {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 999;

  display: none;
  width: 28rem;
  height: 266px;
  padding: 2rem;

  background-color: var(--_colors---base-color-brand--black);

  font-size: var(--size-desktop--paragraphs-sm);
}

@media screen and (min-width: 1440px) {
  .fs-cc-banner2_component {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .fs-cc-banner2_component {
    width: 100%;
  }
}

.fs-cc-banner2_container {
  display: flex;
  width: 100%;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .fs-cc-banner2_container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.fs-cc-banner2_text {
  color: var(--_colors---base-color-brand--white);
}

.brand-link {
  color: var(--_colors---base-color-brand--black);
  font-weight: 700;
  text-decoration: underline;
}

.brand-link.white {
  color: var(--_colors---base-color-brand--white);
}

.hide {
  display: none;
}

.brand-link.disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.disable {
  cursor: not-allowed;
}

.fs-cc-banner2_buttons-wrapper {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.fs-cc-banner2_button {
  height: auto;
  min-height: auto;
  min-width: 6.4rem;
  margin-right: 1rem;
  margin-left: 0rem;
  padding: 0.4rem 1.25rem;
  flex: 1;

  border-radius: var(--_spacing---border);

  background-color: var(--_colors---base-color-brand--gold);

  color: var(--_colors---base-color-brand--black);
  text-align: center;
  text-transform: uppercase;
}

.fs-cc-banner2_button:hover {
  background-color: var(--_colors---base-color-brand--black);
}

.fs-cc-banner2_button.fs-cc-button-alt {
  border: 1px solid var(--_colors---base-color-system--warning-yellow);
  border-radius: var(--_spacing---border);
  background-color: var(--_colors---base-color-brand--black);
  color: var(--_colors---base-color-brand--white);
}

.fs-cc-manager2_component {
  position: fixed;
  left: 1.25rem;
  top: auto;
  right: auto;
  bottom: 1.25rem;
  z-index: 999;

  display: none;
}

@media screen and (min-width: 1440px) {
  .fs-cc-manager2_component {
    display: none;
  }
}

.fs-cc-manager2_button {
  display: flex;
  width: 3rem;
  padding: 0.5rem;
  flex-direction: column;

  border-radius: 100%;

  background-color: var(--_colors---base-color-brand--white);

  transition: color 200ms ease;

  color: var(--_colors---base-color-brand--black);

  cursor: pointer;
}

.fs-cc-manager2_button:hover {
  color: hsla(234.89361702127658, 100.00%, 63.14%, 1.00);
}

.fs-cc-prefs2_component {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 997;

  display: none;
  margin-bottom: 0px;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 1;
}

@media screen and (min-width: 1440px) {
  .fs-cc-prefs2_component {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .fs-cc-prefs2_component {
    padding: 1.5rem;
  }
}

.fs-cc-prefs2_form-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  margin-bottom: 0px;
  padding: 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--_colors---base-color-brand--black);
}

.fs-cc-prefs2_form {
  position: relative;

  width: 100%;
  max-height: 85vh;
  max-width: 25rem;
  margin-bottom: 0px;

  background-color: hsla(0, 0.00%, 20.00%, 1.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.fs-cc-prefs2_close {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  bottom: auto;

  padding: 0.75rem;

  background-color: var(--base-color-system--rich-black\<deleted\|variable-4de73ba8-1de8-1cb9-a2ce-343749f42928\>);

  box-shadow: -1px 1px 4px 0 hsla(0, 0.00%, 20.00%, 0.10);

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1.25rem;
  text-decoration: none;

  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .fs-cc-prefs2_close {
    padding: 0.5rem;
  }
}

.fs-cc-preferences2_close-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.fs-cc-prefs2_content {
  height: 100%;
  padding: 2.5rem 2rem;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .fs-cc-prefs2_content {
    padding: 1.5rem;
  }
}

.fs-cc-prefs2_space-small {
  margin-bottom: 0.75rem;
}

.fs-cc-prefs2_title {
  color: hsla(237.14285714285714, 96.92%, 12.75%, 1.00);
  font-size: 1.5rem;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .fs-cc-prefs2_title {
    font-size: 1.125rem;
  }
}

.fs-cc-prefs2_option {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsla(0, 0.00%, 75.33%, 0.30);
}

.fs-cc-prefs2_toggle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fs-cc-prefs2_label {
  margin-top: 0px;
  margin-right: 2rem;
  margin-bottom: 0px;

  color: var(--_colors---base-color-brand--black);
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .fs-cc-prefs2_label {
    font-size: 0.875rem;
  }
}

.fs-cc-prefs2_checkbox-field {
  position: relative;

  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 0px;
  padding: 0.125rem;
  justify-content: center;
  align-items: center;
}

.fs-cc-prefs2_checkbox {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;

  border-width: 2px;
  border-color: var(--base-color-system--rich-black\<deleted\|variable-4de73ba8-1de8-1cb9-a2ce-343749f42928\>);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  cursor: pointer;
}

.fs-cc-prefs2_checkbox:global(.w--redirected-checked) {
  border-color: hsla(225.06329113924053, 95.95%, 48.43%, 1.00);
  background-color: hsla(225.06329113924053, 95.95%, 48.43%, 1.00);
  background-size: auto;
}

.fs-cc-prefs2_checkbox-label {
  display: none;
}

.fs-cc-prefs2_buttons-wrapper {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.fs-cc-prefs2_button {
  padding: 0.75rem 1.25rem;

  border: 1px solid var(--_colors---base-color-neutral--neutral-lightest);
  border-radius: var(--_spacing---border);

  background-color: var(--base-color-system--rich-black\<deleted\|variable-4de73ba8-1de8-1cb9-a2ce-343749f42928\>);

  font-weight: 700;
  text-align: center;
}

.fs-cc-prefs2_button.fs-cc-button-alt {
  margin-bottom: 0.75rem;
  background-color: hsla(225.06329113924053, 0.00%, 100.00%, 1.00);
  color: var(--_colors---base-color-brand--black);
}

@media screen and (max-width: 479px) {
  .fs-cc-prefs2_button.fs-cc-button-alt {
    margin-bottom: 0.5rem;
  }
}

.fs-cc-prefs2_submit {
  margin-top: 0.75rem;
  padding: 0.75rem 1.25rem;

  border: 1px solid var(--_colors---base-color-neutral--neutral-lightest);
  border-radius: var(--_spacing---border);

  background-color: var(--color--base-color-brand--gold\<deleted\|variable-7473fdf4\>);

  color: var(--_colors---base-color-brand--black);
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .fs-cc-prefs2_submit {
    margin-top: 8px;
  }
}

.fs-cc-prefs2_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: hsla(237.14285714285714, 96.92%, 12.75%, 0.90);
}