.box {
  position: relative;

  display: grid;
  width: 60rem;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-radius: var(--_spacing---border);

  background-color: var(--_colors---base-color-system--transparent);
}

@media screen and (max-width: 991px) {
  .box {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.box.store-80 {
  display: block;
  width: 80rem;
  align-self: center;
  background-color: var(--_colors---base-color-system--transparent);
}

@media screen and (max-width: 991px) {
  .box.store-80 {
    min-width: auto;
  }
}

.box.center {
  align-self: center;
}

.center {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

@media screen and (min-width: 1440px) {
  .box.flex {
    grid-template-columns: 1fr 1fr;
  }
}

.header-wrap {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding-bottom: var(--_spacing---padding-1rem);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.header-wrap.center {
  justify-content: flex-start;
  align-items: center;
}

.header-wrap.flex {
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--_spacing---padding-1rem);
  grid-row-gap: var(--_spacing---padding-1rem);
}

.header-wrap.purge {
  opacity: 0.13;
}

.hr {
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  align-self: center;

  border-radius: 20px;

  background-color: var(--_colors---base-color-neutral--neutral-lightest);
  background-image: radial-gradient(circle farthest-corner at 0% 100%, var(--_colors---base-color-brand--gold), var(--_colors---base-color-brand--white) 34%, var(--_colors---base-color-neutral--neutral-lightest) 62%, var(--_colors---base-color-neutral--neutral) 91%);
}

.hr.top {
  margin-top: 20px;
}

.content-wrap {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding-bottom: var(--_spacing---padding-1rem);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;

  outline-color: transparent;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
}

.content-wrap.center {
  justify-content: flex-start;
  align-items: center;
}

.content-wrap.flex {
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: var(--_spacing---size-desktop--gap-4rem);
  grid-row-gap: var(--_spacing---size-desktop--gap-4rem);
}

.content-wrap.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .content-wrap.grid {
    grid-template-columns: 1fr;
  }
}

.cms {
  position: relative;
  width: 100%;
}

.cms-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--_spacing---size-desktop--gap-4rem);
  grid-row-gap: var(--_spacing---size-desktop--gap-4rem);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .cms-list {
    grid-template-columns: 1fr;
  }
}

.cms-list._2-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .cms-list._2-grid {
    grid-template-columns: 1fr;
  }
}

.cms-list._2-grid._3-grid {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--_spacing---padding-2rem);
  grid-row-gap: var(--_spacing---padding-2rem);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .cms-list._2-grid._3-grid {
    grid-template-columns: 1fr;
  }
}

.cms-list.footer {
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: var(--_spacing---border);
  grid-row-gap: var(--_spacing---border);
}

.cms-list.left {
  justify-content: flex-start;
  align-items: flex-start;
}

.cms-list.flex {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cms-item {
  width: 100%;
}

.cms-item.auto {
  width: auto;
}

.apps-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.cool-text {
  z-index: 3;

  font-family: var(--_typography-fonts---font--headers);
  color: var(--_colors---base-color-brand--rich);
  font-size: var(--size-desktop--cool-text);
  line-height: var(--size-desktop--font-height-120);
  text-align: left;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--_colors---base-color-brand--black);
}

.cool-text.black {
  flex: 0 0 auto;
  color: var(--_colors---base-color-brand--black);
}

.cool-text.center {
  text-align: center;
}

.cool-text.blue {
  color: var(--_colors---base-color-brand--indigo-blue);
}

.crystals-apps-image {
  height: 400px;
  margin-bottom: var(--_spacing---padding-1rem);
  border: 1px solid var(--_colors---base-color-brand--gold);
  border-radius: var(--_spacing---border);
}

.crystals-apps-image:hover {
  filter: grayscale(100%);
}

@media screen and (max-width: 991px) {
  .crystals-apps-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .crystals-apps-image {
    width: 502px;
    height: auto;
  }
}

.brand-link {
  color: var(--_colors---base-color-brand--black);
  font-weight: 700;
  text-decoration: underline;
}

.brand-link.white {
  color: var(--_colors---base-color-brand--white);
}

.hide {
  display: none;
}

.brand-link.disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.disable {
  cursor: not-allowed;
}

#w-node-_95e9337c-4730-c118-36bf-04235d035c1d-5d035c1c {
}
#w-node-_95e9337c-4730-c118-36bf-04235d035c28-5d035c1c {
}
@media screen and (min-width: 1440px) {
  #w-node-_95e9337c-4730-c118-36bf-04235d035c1d-5d035c1c {
  }
}
@media screen and (max-width: 991px) {
  #w-node-_95e9337c-4730-c118-36bf-04235d035c1d-5d035c1c {
    order: -9999;
  }
}