.section_footer {
	position: relative;

	display: flex;
	width: 100%;
	height: auto;
	padding-bottom: 2.4rem;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;

	outline-color: transparent;
	outline-offset: 0px;
	outline-style: none;
	outline-width: 0px;
}

.nav-button-wrap {
	display: flex;
	padding-top: var(--_spacing---padding-1rem);
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
}

@media screen and (max-width: 479px) {
	.nav-button-wrap {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

.nav-links-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@media screen and (max-width: 991px) {
	.nav-links-wrap {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

@media screen and (max-width: 479px) {
	.nav-links-wrap {
		display: flex;
	}
}

.login-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: var(--size-desktop--h3);
	font-style: italic;
}

.nav-space {
	padding-right: 4px;
	padding-left: 4px;
}

@media screen and (max-width: 991px) {
	.nav-space {
		display: none;
	}
}

.footer_links {
	display: flex;
	height: 44px;
	padding: 0.75rem 1rem;
	justify-content: flex-start;
	align-items: center;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

	text-decoration: none;
}

.footer_links:hover {
	border-left: 1px solid var(--_colors---base-color-brand--indigo-blue);
	border-radius: var(--_spacing---border);
	text-decoration: none;
}

.footer_links.important {
	font-size: var(--size-desktop--h3);
}

@media screen and (max-width: 991px) {
	.footer_links.important {
		font-size: var(--size-desktop--h4);
	}
}

.icons {
	width: 1.5rem;
	height: 1.5rem;
}

.icons.text-color-primary600 {
	color: var(--base-color-system--white\<deleted\|variable-0f858fb3\>);
}

.em {
	margin-bottom: var(--_spacing---padding-1rem);
	color: var(--_colors---base-color-brand--indigo-blue);
	font-size: var(--size-desktop--note-text);
	font-style: italic;
}

.hr {
	width: 100%;
	height: 1px;
	margin-bottom: 20px;
	align-self: center;

	border-radius: 20px;

	background-color: var(--_colors---base-color-neutral--neutral-lightest);
	background-image: radial-gradient(
		circle farthest-corner at 0% 100%,
		var(--_colors---base-color-brand--gold),
		var(--_colors---base-color-brand--white) 34%,
		var(--_colors---base-color-neutral--neutral-lightest) 62%,
		var(--_colors---base-color-neutral--neutral) 91%
	);
}

.hr.top {
	margin-top: 20px;
}

.container-footer {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding-right: var(--_spacing---padding-3rem);
	padding-left: var(--_spacing---padding-3rem);
}

.footer-wrapper-two {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	grid-auto-columns: 1fr;
	grid-column-gap: var(--_spacing---padding-1rem);
	grid-row-gap: var(--_spacing---padding-1rem);
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
	.footer-wrapper-two {
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
}

.footer-block-two {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (max-width: 991px) {
	.footer-block-two {
		margin-top: 40px;
	}
}

.subheading {
	margin-bottom: 0.75rem;
	color: var(--_colors---base-color-brand--black);
	font-size: var(--size-desktop--note-text);
	font-weight: 800;
}

.cms {
	position: relative;
	width: 100%;
}

.cms-list {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
	grid-auto-columns: 1fr;
	grid-column-gap: var(--_spacing---size-desktop--gap-4rem);
	grid-row-gap: var(--_spacing---size-desktop--gap-4rem);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
	.cms-list {
		grid-template-columns: 1fr;
	}
}

.cms-list._2-grid {
	display: grid;
	grid-auto-columns: 1fr;
	grid-column-gap: 4rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
	.cms-list._2-grid {
		grid-template-columns: 1fr;
	}
}

.cms-list._2-grid._3-grid {
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	grid-auto-columns: 1fr;
	grid-column-gap: var(--_spacing---padding-2rem);
	grid-row-gap: var(--_spacing---padding-2rem);
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
	.cms-list._2-grid._3-grid {
		grid-template-columns: 1fr;
	}
}

.cms-list.footer {
	justify-content: flex-start;
	align-items: flex-start;
	grid-column-gap: var(--_spacing---border);
	grid-row-gap: var(--_spacing---border);
}

.cms-list.left {
	justify-content: flex-start;
	align-items: flex-start;
}

.cms-list.flex {
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.cms-item {
	width: 100%;
}

.cms-item.auto {
	width: auto;
}

.footer-bottom {
	display: flex;
	margin-bottom: var(--_size---size--3-5rem\<deleted\|variable-3fae44ae-12d9-fb3a-1712-e17c76356360\>);
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 991px) {
	.footer-bottom {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

.copyright {
	color: var(--_colors---base-color-brand--black);
	font-weight: 400;
}

@media screen and (max-width: 991px) {
	.copyright {
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.copyright {
		line-height: 20px;
	}
}
