.box {
	position: relative;

	display: grid;
	width: 60rem;
	max-width: 100%;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: stretch;
	align-self: center;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	border-radius: var(--_spacing---border);

	background-color: var(--_colors---base-color-system--transparent);
}

@media screen and (max-width: 991px) {
	.box {
		width: 100%;
		grid-template-columns: 1fr;
	}
}

.box.store-80 {
	display: block;
	width: 80rem;
	align-self: center;
	background-color: var(--_colors---base-color-system--transparent);
}

@media screen and (max-width: 991px) {
	.box.store-80 {
		min-width: auto;
	}
}

.box.center {
	align-self: center;
}

.center {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

@media screen and (min-width: 1440px) {
	.box.flex {
		grid-template-columns: 1fr 1fr;
	}
}

.header-wrap {
	position: relative;

	display: flex;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding-bottom: var(--_spacing---padding-1rem);
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
}

.header-wrap.center {
	justify-content: flex-start;
	align-items: center;
}

.header-wrap.flex {
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	grid-column-gap: var(--_spacing---padding-1rem);
	grid-row-gap: var(--_spacing---padding-1rem);
}

.header-wrap.purge {
	opacity: 0.13;
}

.hr {
	width: 100%;
	height: 1px;
	margin-bottom: 20px;
	align-self: center;

	border-radius: 20px;

	background-color: var(--_colors---base-color-neutral--neutral-lightest);
	background-image: radial-gradient(
		circle farthest-corner at 0% 100%,
		var(--_colors---base-color-brand--gold),
		var(--_colors---base-color-brand--white) 34%,
		var(--_colors---base-color-neutral--neutral-lightest) 62%,
		var(--_colors---base-color-neutral--neutral) 91%
	);
}

.hr.top {
	margin-top: 20px;
}

.content-wrap {
	position: relative;

	display: flex;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding-bottom: var(--_spacing---padding-1rem);
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: stretch;

	outline-color: transparent;
	outline-offset: 0px;
	outline-style: none;
	outline-width: 0px;
}

.content-wrap.center {
	justify-content: flex-start;
	align-items: center;
}

.content-wrap.flex {
	flex-direction: row;
	flex-wrap: wrap;
	grid-column-gap: var(--_spacing---size-desktop--gap-4rem);
	grid-row-gap: var(--_spacing---size-desktop--gap-4rem);
}

.content-wrap.grid {
	display: grid;
	grid-auto-columns: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
	.content-wrap.grid {
		grid-template-columns: 1fr;
	}
}

.cms {
	position: relative;
	width: 100%;
}

.sticky_list_4 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	grid-column-gap: var(--_spacing---padding-3rem);
	grid-row-gap: var(--_spacing---padding-3rem);
}

.sticky_item {
	position: sticky;
}

.sticky_item_2 {
	position: sticky;
}

.sticky_item.sticky_item_5 {
	position: relative;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	grid-column-gap: var(--_spacing---padding-3rem);
	grid-row-gap: var(--_spacing---padding-3rem);
}

@media screen and (min-width: 1440px) {
	.sticky_item.sticky_item_5 {
		top: 0px;
	}
}

@media screen and (max-width: 479px) {
	.sticky_item.sticky_item_5 {
		width: 270px;
	}
}

.card {
	position: relative;

	overflow: hidden;

	border-style: solid;
	border-width: 0px;
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: 1rem;

	background-color: var(--_colors---base-color-neutral--neutral-lightest);

	box-shadow:
		inset 0 0 0 1px rgba(255, 255, 255, 0.2),
		0 2px 4px 0 rgba(0, 0, 0, 0.1),
		0 8px 14px 0 rgba(0, 0, 0, 0.15);

	list-style-type: none;
}

@media screen and (min-width: 1440px) {
	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

.card.card-on-secondary {
	border-color: rgba(255, 255, 255, 0.1);
	box-shadow:
		inset 0 0 0 1px rgba(255, 255, 255, 0.2),
		0 2px 4px 0 rgba(0, 0, 0, 0.1),
		0 8px 14px 0 rgba(0, 0, 0, 0.15);
}

.card.card-on-secondary._82-sticky {
	position: sticky;
	top: 82px;
}

.card.card-on-secondary._3cards {
	margin-bottom: var(--_spacing---padding-2rem);
}

.card.left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.card-body {
	position: relative;
	z-index: 1;

	display: flex;
	height: 100%;
	padding: var(--_spacing---padding-2rem);
	flex-direction: column;
	flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
	.card-body {
		padding: 2rem;
	}
}

@media screen and (max-width: 767px) {
	.card-body {
		padding: 1.5rem;
	}
}

.card-body.utility-aspect-2x1 {
	padding-top: 2rem;
	padding-bottom: 1rem;
	justify-content: flex-start;
	align-items: stretch;
}

.card-body.left {
	padding-top: 1rem;
	justify-content: flex-start;
	align-items: flex-start;
}

.card-body.cms {
	padding-top: 1rem;
	flex-direction: row;
	flex-wrap: wrap;
	grid-column-gap: var(--_spacing---size-desktop--gap-4rem);
	grid-row-gap: var(--_spacing---size-desktop--gap-4rem);
}

@media screen and (max-width: 991px) {
	.card-body.cms {
		justify-content: center;
	}
}

.card-body._1-p {
	padding: var(--_spacing---padding-1rem);
}

.eyebrow {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: var(--_spacing---padding-2rem);

	color: var(--_colors---base-color-brand--indigo-blue);
	font-size: 0.9rem;
	line-height: 1.3em;
	font-weight: 400;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

@media screen and (max-width: 991px) {
	.eyebrow {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 767px) {
	.eyebrow {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 479px) {
	.eyebrow {
		font-size: 0.8rem;
	}
}

.cool-text {
	z-index: 3;

	font-family: var(--_typography-fonts---font--headers);
	color: var(--_colors---base-color-brand--rich);
	font-size: var(--size-desktop--cool-text);
	line-height: var(--size-desktop--font-height-120);
	text-align: left;
	-webkit-text-stroke-width: 0.8px;
	-webkit-text-stroke-color: var(--_colors---base-color-brand--black);
}

.cool-text.black {
	flex: 0 0 auto;
	color: var(--_colors---base-color-brand--black);
}

.cool-text.center {
	text-align: center;
}

.cool-text.blue {
	color: var(--_colors---base-color-brand--indigo-blue);
}

.review-link {
	height: auto;
}

.alt-text {
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: -2;

	opacity: 0;

	line-height: 0.3em;
}

.review-logo {
	width: 100px;
	height: 58px;
}

#w-node-_3fd9d283-0be2-db7a-e26b-95cafc7b89d6-fc7b89d5 {
}
@media screen and (min-width: 1440px) {
	#w-node-_3fd9d283-0be2-db7a-e26b-95cafc7b89df-fc7b89d5 {
	}
}
