.threejs-container {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;

  background-color: var(--_colors---base-color-system--transparent);
}